<!DOCTYPE html>
<html lang="en">

  <head>
    <title>EventsHub</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.date.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/picker.time.js"></script>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.time.css" />

    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="home-video-wrapper">
      <video class="home-video" autoplay="" loop="" muted="">
        <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.mp4" type="video/mp4">
        <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.webm" type="video/webm">
      </video>
    </div>

    <section class="home-main">
      <h1>Welcome To Eventshub</h1>
      <h2>Plan your event fast and simple!</h2>
      <a id="get-form-btn">Create Event</a>
    </section>

    <section class="home-form">
      <h1>Event Information:</h1>
      <form action="/eventshub/event/" method="POST" id="event_create_form">
        <label for="firstName">First Name</label>
        <input id="first_name" type="text" name="firstname" placeholder="First Name">

        <label for="lastName">Last Name</label>
        <input id="last_name" type="text" name="lastname" placeholder="Last Name">

        <label for="Email">Email</label>
        <input id="email" type="email" name="email" placeholder="Email">

        <label for="eventName">Event Name</label>
        <input id="event_name" type="text" name="eventname" placeholder="Event Name">

        <label for="dateCalendar">Event Date</label>
        <input id="date_calendar" type="text" name="date_calendar">

        <label for="dateTime">Event Time</label>
        <input id="date_time" type="text" name="date_time">

        <label for="Description">Description</label>
        <textarea id="description" type="text" name="description" placeholder="Description"></textarea>
        <p id="error"></p>
        <button id="create_event_btn" type="submit">Create Event</button>
      </form>
    </section>
  </body>

</html>
