<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EventsHub</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create_event.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>

      <div style="position: absolute; z-index: -1; top: 0px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
        <video autoplay="" loop="" muted="" style="margin: auto; position: absolute; z-index: -1; top: 50%; left: 50%; transform: translate(-50%, -50%); visibility: visible; opacity: 1; min-width: 100vw; min-height: 100vh;">
          <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.mp4" type="video/mp4">
          <source src="https://d3hjue7omxs01q.cloudfront.net/Video/homepage/background-header-v1.webm" type="video/webm">
        </video>
      </div>


    <section class="home-main">
      <h1 class="tittle_page">Welcome To Eventshub</h1>
      <h2 class="tittle_page">Plan your event like a professional!</h2>
      <a class="tittle_page" id ="get_form_btn" class ="home_btn">Create Event</a>
      <section class="reg_event">
        <h1>Event Page</h1>
        <form action="/eventshub/event/" method="POST" id="create_id">
          <h5 class="title_desc">First Name</h5>
          <input type="text" name="firstname"><br/>
          <h5 class="title_desc">Last Name</h5>
          <input type="text" name="lastname"><br/>
          <h5 class="title_desc">Email</h5>
          <input type="email" name="email" placeholder="email"><br/>
          <h5 class="title_desc">Event Name</h5>
          <input type="text" name="eventname" placeholder="event name"><br/>
          <h5 class="title_desc">Description</h5>
          <input type="text" name="description" placeholder="description"><br/>
          <button id="create_event_btn" type="button">Create Event</button>
        </form>
      </section>
    </section>
  </body>
</html>
