body {
  background-color: #EEE;
  color: #fff;

  h1 {
    font-size: 7vw;
    color: #fff;
    margin: 0 0 40px;
  }

  h2 {
    font-weight: 400;
    margin: 0;
    font-size: 3.5vw;
  }

}

.home-main {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100vw;
  text-align: center;
}

.home-main a {
  display: inline-block;
  text-decoration: none;
  padding: 1.75vw 2.25vw;
  background-color: #ff5e00;
  color: #fff;
  margin: 50px 0 0;
  font-size: 1.5vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
}
