$highlight-colour: #ff5e00;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

// UNIVERSAL STYLES

html {
  min-height: 100%;
}

body {
  background: #323651;
  background: -moz-linear-gradient(45deg, #323651 0%, #243850 100%);
  background: -webkit-linear-gradient(45deg, #323651 0%, #243850 100%);
  background: linear-gradient(45deg, #323651 0%, #243850 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323651', endColorstr='#243850',GradientType=1 );
  min-height: 100%;
  color: #000;
  font-size: 14px;
}

h1, h2, h3 {
  font-weight: 400;
}

hr {
  border: none;
  height: 1px;
  margin: 15px 0;
  background-color: #ccc;
}

.button {
  @include border-radius(5px);
  display: inline-block;
  text-decoration: none;
  padding: 12px 17px;
  background-color: $highlight-colour;
  color: #fff;
  margin: 50px 0 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a, a:visited {
  color: $highlight-colour;
  text-decoration: none;
}

input:focus, textarea:focus {
  outline: none;
}

// SPECIFIC STYLES

.home-video-wrapper {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: none;
}

.home-video {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  opacity: 1;
  margin: auto;
  min-width: 100vw;
  min-height: 100vh;
}

.home-main {

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100vw;
  text-align: center;

  h1 {
    font-size: 6vw;
    color: #fff;
  }

  h2 {
    font-size: 3vw;
    color: #fff;
  }

  a {
    font-size: 1.75vw;
    @extend .button;
    margin: 15px 0 0;
  }

}

.home-form {

  display: none;
  @include border-radius(5px);
  @include box-shadow(0 5px 15px 0 rgba(0,0,0,0.75));
  position: absolute;
  z-index: -1;
  width: 90%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: #eee;
  padding: 30px;
  border: 1px solid #000;

  h1 {
    text-align: center;
    margin: 0 0 20px;
  }

  label, input, textarea, button {
    @include transition(all 0.3s ease);
    display: block;
  }

  input, textarea {
    width: 100%;
    background-color: white;
    color: #000;
    margin: 5px 0 10px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input:focus, textarea:focus {
    color: #000;
    outline: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
  }

  textarea {
    height: 150px;
  }

  button {
    @extend .button;
    margin: 0;
    border: none;
  }

}

.event-navigation {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;

  button {
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border: none;
    font-size: 11px;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff863f;
    margin: 50px 0;
  }

  button.info {
    @include border-radius(5px 0 0 5px);
    margin-right: -4px;
  }

  button.attending {
    @include border-radius(0 5px 5px 0);
  }

}

.active {
  background-color: #ff5e00 !important;
}

.event-info  {
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 30px;
  max-width: 600px;
  width: 85%;
  margin: 130px auto 90px;
}

.event-participants  {
  display: none;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 30px;
  max-width: 600px;
  width: 85%;
  margin: 130px auto 90px;
}

.summary-form {

  @include border-radius(5px);
  @include box-shadow(0 5px 15px 0 rgba(0,0,0,0.75));
  position: absolute;
  z-index: -1;
  width: 90%;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: #eee;
  padding: 30px;
  border: 1px solid #000;

  h1 {
    font-size: 20px;
    color: #000;
    margin: 0 0 20px;
  }

  label, input, textarea, button {
    @include transition(all 0.3s ease);
    display: block;
  }

  input, textarea {
    width: 100%;
    background-color: white;
    color: #000;
    margin: 5px 0 10px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  input:focus, textarea:focus {
    color: #000;
    outline: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
  }

  textarea {
    height: 150px;
  }

  button {
    @extend .button;
    margin: 0;
    border: none;
  }

}

section#summary, .event-participants {

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  h2, h3 {
    display: inline-block;
    width: 90%;
    margin: 0;
  }

  button {
    cursor: pointer;
    float: right;
    border: none;
    font-size: 12px;
    background: none;
    color: #ff5e00;
    font-style: italic;
  }

  input, textarea {
    width: 100%;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    @include border-radius(3px);
  }

  textarea {
    height: 150px;
  }

  input[type="submit"] {
    width: auto;
    display: block;
    @extend .button;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }

}

.edit-event-name-form {
  display: none;
  margin: 10px 0 10px;
}

.edit-event-desc-form {
  display: none;
  margin: 10px 0 10px;
}

.participant-form-buttons {
  margin-bottom: 15px;
}

#participant_status {

  input {
    display: block;
  }

}

#register_btn, #edit_status_btn {
  @include transition(all 0.3s ease);
  cursor: pointer;
  background: #ff863f;
  border: none;
  font-size: 11px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
}

#register_btn:hover , #edit_status_btn:hover {
  background: #ff5e00;
}

#register_form , #edit_status_form {

  input {
    width: 250px;
    padding: 6px 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
  }

  input[type="submit"] {
    width: auto;
    display: block;
    @extend .button;
    border: none;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
  }

  label {
    display: block;
    margin: 5px 0;
  }

}

.attending-col, .not-attending-col {

  display: inline-block;
  width: 49%;
  vertical-align: top;

  h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

}
